<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% comment %} <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% endcomment %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>LambdaTutoring</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class = "header">
        <div class="nav">
            <img src="img/logo-text.png" alt = "logo-text" class = "logo-text">
            <p><a href="#about" class = "nav-header">О нас</a></p>
            <p><a href="#program" class = "nav-header">Программа</a></p>
            <p><a href="#review" class = "nav-header">Отзывы</a></p>
            <a class="btn" href='#form'>Записаться!</a>
        </div>
        <img src="img/background1.png" alt="desc" class="img_desc">
    </header>

    <section class="about-section">
        <a name="about"><p class="block-name" >~О нас~</p></a>
        <div class="about-bar">
            <div style="width: 352px">
                <img src="img/about/book.png" alt="book" style="width: 240px; margin-bottom: 98px;">
                <p style="margin-bottom:10px;"><b>Занятия с экспертами,</b>
                <p style='font-size: 40px;'>которые знают свой предмет и могут заинтерисовать учеников.</p>
            </div>
            <div style="width: 352px">
                <img src="img/about/sculpture.png" alt="sculpture" style="width: 240px; margin-bottom: 98px;">
                <p style="margin-bottom:10px;"><b>Даём профи-скилы,</b>
                <p style='font-size: 40px;'>а также лидерские и коммуникабельные качества.<br></p>
            </div>
            <div style="width: 352px">
                <img src="img/about/universe.png" alt="universe" style="width: 240px; margin-bottom: 98px;">
                <p style="margin-bottom:10px;"><b>Гарантируем сотрудничество</b>
                <p style='font-size: 40px;'>с друзьями по всему миру, создание своих мини-стартапов.</p>
            </div>
        </div>
    </section>

    <section class="program-section" style="margin-top:94px;margin-bottom:135px;margin-right:96px;margin-left:96px;">
        <a name="program"><p class="block-name">~Авторская программа~</p></a>
        <div class="program-bar">
            <div class="text-photo-bar" style="padding-top:85px">
                <img src="img/program/1.png" alt="kids" style="width:610px;">
                <div class="text-block" style="padding-left:57px;">
                    <p style="margin-bottom:50px; color:#EC9448; font-size: 72px;">Коммуницирование</p>
                    <p style='line-height: 1em;'>Мы даём дети задачи, нацеленные на работу в команде, чтобы развивать их индивидуальные и лидерские качества!</p>
                </div>
            </div>

            <div class="text-photo-bar" style="padding-top:85px">
                <div class="text-block" style="padding-right:57px;">
                    <p style="margin-bottom:50px; color:#EC9448; font-size: 72px;">Обучение-практика</p>
                    <p style='line-height: 1em;'>Мы даём только самое главное ребёнку и сразу применяем знания на практике, чтобы закрепить результат.</p>
                </div>
                <img src="img/program/2.png" alt="kids" style="width:610px;">
            </div>

            <div class="text-photo-bar" style="padding-top:85px">
                <img src="img/program/3.png" alt="kids" style="width:610px;">
                <div class="text-block" style="padding-left:57px;">
                    <p style="margin-bottom:50px; color:#EC9448; font-size: 72px;">Достижение целей</p>
                    <p style='line-height: 1em;'>Вместе с детьми мы ставим цели и задачи для их достижения, а после получения реузльтата, анализируем итоги.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="lessons-section" style="margin-top:94px;margin-left:96px;margin-right:96px;">
        <a name="lessons"><p class="block-name">~Как проходят занятия~</p></a>
        <div class="lessons-bar" style="margin-top:125px; width:514px;">
            <div>
                <img src="img/lessons/1.png" style="width:514px;" alt="kids-lessons">
                <img src="img/lessons/3.png" style="width:469px; margin-left: 46px; margin-top: 32px;" alt="kids-lessons">
                <img src="img/lessons/5.png" style="width:304px; margin-left: 212px; margin-top: 32px;" alt="kids-lessons">
            </div>
            <div style="padding-left: 64px;">
                <img src="img/lessons/2.png" style="width:667px;" alt="kids-lessons">
                <img src="img/lessons/4.png" style="width:667px; margin-top: 32px;" alt="kids-lessons">
                <div style="margin-top: 24px;">
                    <a class="btn" href='#form'>Записаться!</a>
                </div>
            </div>
        </div>
    </section>

    <section class="review-section" style="margin-top:127px;margin-left:96px;margin-right:96px;">
        <a name="review"><p class="block-name">~Как проходят занятия~</p></a>
        <div class="review-bar" style="margin-top:96px;">
            <img src="img/review/1.png" alt="Taylor Review">
            <img src="img/review/2.png" alt="Gaga Review">
        </div>
        <div class="review-bar" style="margin-top:96px;">
            <img src="img/review/3.png" alt="Britney Review">
            <img src="img/review/4.png" alt="Gomez Review">
        </div>
    </section>

    <section class="form-section" style="margin-top:127px;margin-left:96px;margin-right:96px;">
        <a name="form"><p class="block-name" style="margin-bottom:121px;">~Оставьте свои данные для записи на курс~^^</p></a>
        <div class="form-block">

            <div class="form-it">
                <form class="form-access" action="." method="post">{% csrf_token %}
                    <fieldest>
                        <p class="label">Имя</p>
                        <input id="name" type="text" required placeholder="Андрей">

                        <p class="label">Город</p>
                        <input id="city" type="text" required placeholder="Москва">

                        <p class="label">Электронная почта</p>
                        <input id="mail" type="text" required placeholder="ladygaga@gmail.com">

                        <p class="label">Телефон</p>
                        <input id="phone" type="text" required placeholder="+7-XXX-XXX-XX-XX">

                        <p class="label">Возрастная группа</p>
                        <select name="age" id="age">
                        <option value="10-14">10-14</option>
                        <option value="14-18">14-18</option>
                        <option value="18+">18+</option>
                        </select>                
                        <button type="submit">ОТПРАВИТЬ!</button> 
                    </fieldest>
                <form>
            </div>

            <div class="form-ad" style="padding-left:96px;">
                <p style="font-family: 'Comfortaa', serif; font-size: 48px; padding-bottom:84px;">Мы свяжемся с вами, в течение дня!</p>
                <div class="form-block">
                    <img src="img/access/mail.png" alt="mail" style="width: 160px; height: 160px;">
                    <p style="font-family: 'Comfortaa', serif; font-size: 36px; line-height: 40px; padding-left:62px;">Направим, на почту рекомендации по заполненной анкете!</p>
                </div>
                <div class="form-block" style="padding-top:128px">
                    <img src="img/access/course.png" alt="calendar" style="width: 160px; height: 160px;">
                    <p style="font-family: 'Comfortaa', serif; font-size: 36px; line-height: 40px; padding-left:62px;">Перезвоним вам и поможем составить план занятий и стоимость курса!</p>
                </div>
            </div>

        </div>

    </section>
</body>
</html>